1. Dataset

In [65]:
import pandas as pd
import os

In [66]:
# Load dataset
file_path = 'C:/Users/My Msi/Downloads/archive/jobs_in_data_2024.csv'

# Baca file CSV dengan menggunakan encoding 'latin1'
data = pd.read_csv(file_path, encoding='latin1')

In [67]:
# 1. Jumlah data dalam dataset
jumlah_data = len(data)
print("1. Jumlah data dalam dataset:", jumlah_data)

1. Jumlah data dalam dataset: 14199

In [68]:
# 2. Job categories yang ada dalam dataset
job_categories = data['job_category'].unique()
print("\n2. Job categories dalam dataset:", job_categories)

2. Job categories dalam dataset: ['Data Science and Research' 'BI and Visualization'
 'Data Architecture and Modeling' 'Data Analysis' 'Data Engineering'
 'Leadership and Management' 'Data Quality and Operations'
 'Machine Learning and AI' 'Cloud and Database'
 'Data Management and Strategy']

In [69]:
# 3. Rata-rata gaji untuk tiap tingkat pengalaman
rata_rata_gaji_per_experience = data.groupby('experience_level')['salary_in_usd'].mean()
print("\n3. Rata-rata gaji untuk tiap tingkat pengalaman:\n", rata_rata_gaji_per_experience)

3. Rata-rata gaji untuk tiap tingkat pengalaman:
 experience_level
Entry-level     91871.996237
Executive      192732.528846
Mid-level      124097.241090
Senior         163112.277796
Name: salary_in_usd, dtype: float64

In [70]:
# 4. Negara dengan rata-rata gaji tertinggi dalam mata uang lokal
rata_rata_gaji_per_negara = data.groupby('employee_residence')['salary'].mean()
negara_gaji_tertinggi = rata_rata_gaji_per_negara.idxmax()
print("\n4. Negara dengan rata-rata gaji tertinggi dalam mata uang lokal:", negara_gaji_tertinggi)

4. Negara dengan rata-rata gaji tertinggi dalam mata uang lokal: Qatar

In [71]:
# Ubah tipe data kolom 'company_size', 'experience_level', 'salary_in_usd' menjadi numerik (jika diperlukan)
# jika datanya lebih dari satu yang diubah maka ubah semua
data['company_size'] = pd.to_numeric(data['company_size'], errors='coerce')
data['experience_level'] = pd.to_numeric(data['experience_level'], errors='coerce')
data['salary_in_usd'] = pd.to_numeric(data['salary_in_usd'], errors='coerce')

# 5. Korelasi antara ukuran perusahaan dan tingkat pengalaman terhadap gaji
korelasi = data[['company_size', 'experience_level', 'salary_in_usd']].corr()
print("\n5. Korelasi antara ukuran perusahaan dan tingkat pengalaman terhadap gaji:\n", korelasi)

5. Korelasi antara ukuran perusahaan dan tingkat pengalaman terhadap gaji:
                   company_size  experience_level  salary_in_usd
company_size               NaN               NaN            NaN
experience_level           NaN               NaN            NaN
salary_in_usd              NaN               NaN            1.0